*{
    font-family: Arial;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.Logo {
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul,
nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu {
    display: flex;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    font-family: Arial;
    color: #727272;
}

nav .active a {
    background-color: #39aae1;
    color: azure;
}

nav a:hover{
    background-color: #39aae1;
    color: azure;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 660px;
}

.column{
    display: flex;
    flex-direction: column;
}
.container_headline{
    flex:1;
    width: 350px;
}

.container_headline h1{
    color: #eeffff;
    font-size: 70px;
    margin-top: 75px;
    text-shadow: 0px 1px #000;
    margin-bottom: 30px;
}

.container h2{
    margin-top: 2px;
    color: #eeffff;
    font-size: 25px;
    text-shadow: 0px 1px #000;
}

.container_options{
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3{
    flex:1;
    color: #FFF;
    padding: 15px;
}

.banner1{
    background-color: #39aae1;
}

.banner2{
    background-color: #0079c7;
}

.banner3{
    background-color: #2b4c99;
}

.banner_options_title{
    font-size: 20px;
    margin-bottom: 20px;
}

.banner_options_description{
    font-size: 14px;
    margin-bottom: 20px;
}

.container_options a{
    color: #FFF;
    border: 1px solid #FFF;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
}

.banner_options_opening{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #3e60a8;
    padding: 15px 0px;
    font-size: 14px;
}

.banner_options_title3{
    font-size: 20px;
    margin-bottom: 5px;
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.widget_bar{
    margin-top: 10px;
    height: 2px;
    width: 50px;
    background-color: #36a9e1;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 25px;
}
article a{
    text-decoration: none;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}

article .news_comment{
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin: 25px 0px;
    font-size: 23px;
    color: #000;
}

article .news_resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}

footer{
    background-color: #1b1b1b;
    justify-content: center;
    display: flex;
}

.displayBlock{
    display: block;
}
 .footer_menu{
    display: flex;
    flex: 1;
}

.fm_1, .fm_2, .fm_3{
    flex:1;
}

.fm_1{
    background-color: #30a0dd;
}

.fm_2{
    background-color: #026ec0;
}

.fm_3{
    background-color: #26418d;
}

.footer_menu a{
    text-decoration: none;
    display: block;
    padding: 20px;
}

footer .banner_options_title{
    color: #FFFF
}

footer .banner_options_description{
    color: #FFFF;
}

.footer_area{
    display: flex;
    flex:1;
}

.footer_area_item{
    flex: 1;
    padding-right: 25px;
}

.footer_area_item .widget_title_text{
    color: #FFFF
}

.footer_area_item .widget_body{
    color: #FFF;
}

footer .footer_resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}

footer .footer_location_title{
    font-size: 14px;
    color: #5c5c5c;
}

footer .medicenter_address{
    display: flex;
    justify-content: space-between;
}

footer .location .contact{
    flex: 1;
}

footer .location,.city,.country, .number_phone{
    font-size: 14px;
    color: #5c5c5c;
}

footer .email_adress{
    font-size: 14px;
}

footer .social_icons{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

footer .social_icons img{
    height: 28px;
    width: 28px;
}

.box_footer_description {
    display: flex;
    gap: 8px;
}

footer .arrow {
    align-items: flex-start;
    font-size: 14px;
}

footer .banner_footer_description{
    display: flex;
    font-size: 14px;
    line-height: 20px;
}

footer .years_ago{
    margin-top: 4px;
    font-size: 12px;
    margin-left: 20px;
    color: #30a0dd;
    margin-bottom: 30px;
}

footer .banner_footer_description_x{
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;
}

footer .banner_footer_description_x p {
    margin: 0;
}

footer .banner_footer_description_x a{
    text-decoration: underline;
    color: #FFF;
}

footer .days_ago{
    margin-top: 6px;
    font-size: 12px;
    margin-left: 20px;
    color: #30a0dd;
    margin-bottom: 30px;
}

.footer_copyrights{
    color: #5c5c5c;
    border-top: 2px solid #2c2c2c;
    margin-top: 30px;
    line-height: 40px;
    font-size: 12px;
}
.footer_copyrights a{
    text-decoration: none;
}

.footer_copyrights span{
    color: #FFFFFF;
}
